<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= pageData.displayName + " - Moggel" %>
	</title>

	<meta property="og:title" content="<%= pageData.displayName + ' - Moggel' %>">
	<meta property="og:description" content="<%= pageData.description %>">
	<meta property="og:image" content="https://moggel.ch/images/Moggel_waving_rounded.png">
	<meta property="og:url" content="<%= pageData.path %>">

	<meta name="theme-color" content="#ffffff">

	<link rel="preload" href="style/main.css" as="style">
	<link rel="preload" href="style/nav.css" as="style">

	<link rel="stylesheet" href="style/main.css">
	<link rel="stylesheet" href="style/nav.css">

	<link rel="stylesheet" href="style/pages/<%= pageToRender %>.css">
</head>