<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= pageData.displayName + " - Moggel" %></title>

	<meta property="og:title" content="<%= pageData.displayName + ' - Moggel' %>">
	<meta property="og:description" content="<%= pageData.description %>">
	<meta property="og:image" content="<%= pageData.buttonIcon %>">
	<meta property="og:url" content="<%= pageData.path %>">

	<meta name="theme-color" content="#ffffff">
</head>