<head>
	<!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="UTF-8">
	<title>
		<%= pageData.displayName + " - Moggel" %>
	</title>
	<link rel="canonical" href="https://moggel.ch<%= pageData.path %>">

	<!-- Embeds –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="theme-color" content="#ffffff">

	<meta property="og:title" content="<%= pageData.displayName + ' - Moggel' %>">
	<meta property="og:description" content="<%= pageData.description %>">
	<meta property="og:image" content="https://moggel.ch/images/Moggel_waving_rounded.png">
	<meta property="og:url" content="<%= pageData.path %>"> 

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="<%= pageData.displayName + ' - Moggel' %>">
	<meta name="twitter:description" content="<%= pageData.description %>">
	<meta name="twitter:image" content="https://moggel.ch/images/Moggel_waving_rounded.png">

	<!-- SEO –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="description" content="<%= pageData.description %>">
	<meta name="keywords"
		content="Moggel Comics, Moggel, Deso, webcomics, funny comics, Apfelmus, Applesauce comics, <%= pageData.displayName %>">
	<meta http-equiv="content-language" content="en">

	<script type="application/ld+json">
		{
		"@context": "https://schema.org",
		"@type": "WebPage",
		"name": "<%= pageData.displayName + ' - Moggel' %>",
		"description": "<%= pageData.description %>",
		"url": "https://moggel.ch<%= pageData.path %>",
		"image": "https://moggel.ch/images/Moggel_waving_rounded.png"
		}
	</script>

	<!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Font –––––––––––––––––––––––––––––––––––––––––––––––––– -->

	<!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="preload" href="/style/main.css" as="style">
	<link rel="preload" href="/style/nav.css" as="style">

	<link rel="stylesheet" href="/style/main.css">
	<link rel="stylesheet" href="/style/nav.css">

	<link rel="stylesheet" href="/style/pageSpecific/<%= pageToRender %>.css">

	<!-- Other –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="google-site-verification" content="1VhW8dDEBT7RS2B3aJVDhlxmh59OcxmWmMSS0IYQY_0" />
</head>