<nav>
	<ul class="nav-list">
		<% Object.keys(pages).forEach(pageKey=> { %>
			<% const page=pages[pageKey]; %>
			<% if(page.noButton) return; %>
				<li class="nav-holder <%= currentPage === pageKey ? 'active' : '' %>">
					<img class="nav-icon" src="<%= page.buttonIcon %>" alt="<%= page.displayName %> Menu Icon" srcset="">
					<img class="nav-text" src="<%= page.buttonText %>" alt="<%= page.displayName %> Menu Button" srcset="">

					<% if( currentPage !== pageKey ){ %>
						<a class="nav-button" href="<%= page.path %>">Button</a>
					<% } %>
				</li>
			<% }); %>
		
		<% // If user is logged in, load a little box for their username %>
		<% if (loggedInAccount !== null) { %>
			<li class="nav-holder" id="account-chip">
				<img class="nav-icon load-profile-pic" src="https://node.deso.org/api/v0/get-single-profile-picture/<%= loggedInAccount %>" data-src="https://node.deso.org/api/v0/get-single-profile-picture/<%= loggedInAccount %>" srcset="" style="border-radius: 100%;">
				<p class="nav-username username"></p>

				<a class="nav-button" href="/account"></a>
			</li>
		<% } %>
	</ul>
</nav>